name: MLflow CI & Docker Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  mlflow_retrain_docker:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          miniconda-version: "latest"
          activate-environment: ci-mlflow-env
          environment-file: ./MLProject/conda.yaml 

      # 1. Jalankan MLflow Project 
      - name: Run MLflow Project (Training)
        shell: bash
        run: |
          cd MLProject # Pindah ke direktori MLProject
          echo "Start MLflow Run"
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate ci-mlflow-env
          mlflow run .
          cd .. # Kembali ke root
          
      # 2. Simpan Artefak 
      - name: Upload MLflow artifacts (mlruns)
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-runs-artifact
          path: ./MLProject/mlruns 

      # 3. Login ke Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. Baca Run ID dari file
      - name: Read Run ID
        id: read_run
        shell: bash
        run: |
          RUN_ID=$(cat ./MLProject/run_id.txt)
          echo "RUN_ID=${RUN_ID}" >> $GITHUB_ENV
          echo "Run ID yang dibaca: $RUN_ID"

      # 5. Build & Push Docker Image
      - name: Build and Push Docker Image
        shell: bash
        run: |
          IMAGE_TAG="${{ secrets.DOCKER_USERNAME }}/weather-model:latest"
          
          export MLFLOW_TRACKING_URI="file:./MLProject/mlruns"
          MODEL_URI="runs:/${{ env.RUN_ID }}/model"

          echo "Building Docker image from $MODEL_URI"
          
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate ci-mlflow-env
          
          # 1. Build image (tanpa -w)
          mlflow models build-docker --model-uri $MODEL_URI -n $IMAGE_TAG
          
          echo "Pushing image to Docker Hub..."
          # 2. Push image
          docker push $IMAGE_TAG

      # 6. Buat file Tautan Docker Hub
      - name: Save Docker Hub Link
        run: |
          echo "Tautan Docker Hub: https://hub.docker.com/r/${{ secrets.DOCKER_USERNAME }}/weather-model" > ./MLProject/Tautan_ke_Docker_Hub.txt

      # 7. Upload file Tautan
      - name: Upload Docker Hub Link Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DockerHub-Link
          path: ./MLProject/Tautan_ke_Docker_Hub.txt